doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content=width=device-width, initial-scale=1, shrink-to-fit= 'no')
        meta(name='description', content='')
        meta(name='author', content='')
        title Jeremy Gart - Resume Website
        // Bootstrap core CSS
        link(href='startbootstrap-resume-gh-pages/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Custom fonts for this template
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet')
        link(href='startbootstrap-resume-gh-pages/vendor/fontawesome-free/css/all.min.css', rel='stylesheet')
        // Custom styles for this template
        link(href='startbootstrap-resume-gh-pages/css/resume.min.css', rel='stylesheet')
    body#page-top
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Jeremy Gart
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='startbootstrap-resume-gh-pages/img/ProfilePhoto.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#activities') Activities
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#identity') Identity
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#accolades') Accolades
        .container-fluid.p-0
            section#about.resume-section.p-3.p-lg-5.d-flex.align-items-center
                .w-100
                    h1.mb-0
                        | Jeremy
                        span.text-primary Gart
                    .subheading.mb-5
                        | Kent Denver Student · Coder · Orator · Entrepreneur · Chef
                    p.lead.mb-5
                        | Hey everyone, welcome to my website! This page is designed to be a resume and portfolio, just in a little bit of a more fun way. If you have any questions, feel free to email me at 
                        a(href='mailto:jgart20@kentdenver.org') jgart20@kentdenver.org.
                    .social-icons
                        a(href='https://www.instagram.com/jeremygart_/')
                            i.fab.fa-instagram
                        a(href='https://www.linkedin.com/in/jeremy-gart-12294b197/')
                            i.fab.fa-linkedin
                        a(href='https://twitter.com/jgart20')
                            i.fab.fa-twitter
                        a(href='https://www.facebook.com/profile.php?id=100012103865108')
                            i.fab.fa-facebook-f
            hr.m-0
            section#activities.resume-section.p-3.p-lg-5.d-flex.justify-content-center
                .w-100
                    h2.mb-5 Activities
                    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .resume-content
                            h3.mb-0 Speech and Debate
                            .subheading.mb-3 15 hrs/ week
                            p
                                | Captain of my school’s nationally-ranked Speech team. Traveled to & received awards at many prestigious tournaments. Currently ranked 13th nationwide.

                        .resume-date.text-md-right
                            span.text-primary March 2013 - Present
                    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .resume-content
                            h3.mb-0 Student Leadership
                            .subheading.mb-3 2 hrs/ week
                            p
                                | Student Representative to the Board of Trustees. Elected by popular vote into 1 of 3 All-school leadership positions. Participant in all Board meetings, offering student perspectives on many issues. Additionally-- Active member of Student Leadership, weighing in on crucial issues, planning events, & creating effective ways for students to help govern a school.
                        .resume-date.text-md-right
                            span.text-primary September 2019 - Present
                    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .resume-content
                            h3.mb-0 GetAGig
                            .subheading.mb-3 1.5 hrs/ week
                            p
                                | Founder and CEO of GetAGig, a website designed to bring together disadvantaged teen youth in the Denver area and companies looking for employees with new perspectives.
                        .resume-date.text-md-right
                            span.text-primary May 2016 - Present
                    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between
                        .resume-content
                            h3.mb-0 Varsity Tennis
                            .subheading.mb-3 15 hrs/ week (seasonal)
                            p
                                | Played tennis since 6th grade, member of the varsity II team at Kent for 3 years of high school. Winner of KDS invitational & 9-2 record senior year.
                        .resume-date.text-md-right
                            span.text-primary September 2016 - Present
                    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .resume-content
                            h3.mb-0 Rose Youth Foundation
                            .subheading.mb-3 2 hrs/ week
                            p
                                | Member of the Rose Youth Foundation, a philanthropy board where one learns about giving responsibly and can take a leadership role in their community.

                        .resume-date.text-md-right
                            span.text-primary September 2018 - Present
                    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .resume-content
                            h3.mb-0 Other Activities
                            .subheading.mb-3 15 hrs/ week total
                            p
                                | Model United Nations (1 hrs/ week): Participant in my school’s Model UN team. Two-time Intermediate conference winner out of 2 conferences attended. ○ Environmental Activism (3 hrs/ week): Rebuilt eroded trails during conservation activities & summitted 26 out of the 54 Fourteeners (peaks over 14,000 feet in elevation) found in Colorado. ○ Aspiring Chef(4 hrs/ week): Long-time passion for cooking. Recipe creator & adventurous chef/eater. Attended culinary camp in NYC. Completed Independent Study through my school. ○ B'nei Brith Youth Organization(3 hrs/ week): Active member of Rocky Mountain BBYO. Have organized multi-state conventions for thousands of teens & hosted various chapter events and fundraisers.

                        .resume-date.text-md-right
                            span.text-primary Various Timeframes
                    
            hr.m-0
            section#education.resume-section.p-3.p-lg-5.d-flex.align-items-center
                .w-100
                    h2.mb-5 Education
                    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .resume-content
                            h3.mb-0 Graland Country Day School
                            .subheading.mb-3 Primary
                            div Small, private k-8 school in Colorado.
                        .resume-date.text-md-right
                            span.text-primary 2007 - 2013
                    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .resume-content
                            h3.mb-0 Kent Denver School
                            .subheading.mb-3 Secondary
                            div Small, private 6-12 school in Colorado.
                        .resume-date.text-md-right
                            span.text-primary 2013 - 2020
                    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between
                        .resume-content
                            h3.mb-0 Unknown College
                            .subheading.mb-3 University
                            div Major: Undecided
                        .resume-date.text-md-right
                            span.text-primary 2020 - 2024         
            hr.m-0
            section#identity.resume-section.p-3.p-lg-5.d-flex.align-items-center
                .w-100
                    h2.mb-5 Identity
                    .subheading.mb-3 Who Am I as a person?
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fas.fa-star-of-david
                        li.list-inline-item
                            i.fas.fa-carrot
                        li.list-inline-item
                            i.fas.fa-theater-masks
                        li.list-inline-item
                            i.fas.fa-business-time
                        li.list-inline-item
                            i.fas.fa-hand-holding-heart
                        li.list-inline-item
                            i.fas.fa-skiing
                        li.list-inline-item
                            i.fas.fa-hiking
                        li.list-inline-item
                            i.fas.fa-biking
                        li.list-inline-item
                            i.fas.fa-mountain
                        li.list-inline-item
                            i.fas.fa-pencil-alt
                        li.list-inline-item
                            i.fas.fa-lightbulb
                        li.list-inline-item
                            i.fas.fa-comments
                    .subheading.mb-3 Each of the above icons represent a significant part of my identity.
            hr.m-0
            section#interests.resume-section.p-3.p-lg-5.d-flex.align-items-center
                .w-100
                    h2.mb-5 Interests
                    p
                        | Apart from being a Kent Denver student, I enjoy much of my time being outdoors. Over the past few years, I have biked all over the world, including a century (100-mile) ride in Oklahoma. I have also hiked 26 of Colorado's 54 Fourteeners, and love skiing extreme terrain runs and whistling down groomers.
                    p.mb-0
                        | When I'm not working or enjoying Colorado's outdoors, you can often find me in the kitchen. I vastly enjoy cooking, and have been cooking up all sorts of dishes for as long as I can remember. I've also been vegetarian for the past 8 years due to environmental reasons.
            hr.m-0
            section#accolades.resume-section.p-3.p-lg-5.d-flex.align-items-center
                .w-100
                    h2.mb-5 Major Accolades & Awards
                    h3.mb-0 Speech and Debate
                    ul.fa-ul.mb-0
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |             Currently ranked 1st in CO and 13th nationally
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |             5
                            sup th
                            |             Place - Colorado State Tournament 2019
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |             3
                            sup rd
                            |             Place - The 5280 Invitational Tournament
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |             Semifinalist- 
                            sup 
                            |             University of California- Berkeley Invitational Tournament
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |             Qualifer- 
                            sup 
                            |             Tournament of Champions 2019 and NSDA Nationals 2019
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |             Quarterfinalist- 
                            sup 
                            |             GMU Invitational 2017, ASU Invitational 2018, UC Berkeley Invitational 2017
                    h3.mb-0 Other Awards/ Accomplishments
                    ul.fa-ul.mb-0
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |             National Merit Semifinalist
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |             AP Scholar with Honor
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |             1580 SAT
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |             3x Team Spirit Award- Kent Denver Tennis
            // Bootstrap core JavaScript
            script(src='startbootstrap-resume-gh-pages/vendor/jquery/jquery.min.js')
            script(src='startbootstrap-resume-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js')
            // Plugin JavaScript
            script(src='startbootstrap-resume-gh-pages/vendor/jquery-easing/jquery.easing.min.js')
            // Custom scripts for this template
            script(src='startbootstrap-resume-gh-pages/js/resume.min.js')